extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'productpage'

block css

block body 
	include _layout/mainheader
	include _layout/header21
	+mobileheader("Smartwatch")
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-sanphamds
	include _layout/footer