extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'product-detail-page'

block css

block body 
	include _layout/mainheader
	include _layout/header3
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-sanphamct2
	include _layout/footer