extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'productpage'

block css

block body 
	include _layout/mainheader
	include _layout/header2
	+mobileheader("Samsung")
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-thuonghieuct
	//- include _layout/footer