extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'product-page'

block css

block body 
	include _layout/mainheader
	include _layout/header1
	+mobileheader("Thương hiệu")
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-thuonghieu
	//- include _layout/footer