extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = ''

block css

block body 
	include _layout/mainheader
	include _layout/header2b
	+mobileheader("Tin tức")
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-tintucds
		
	include _layout/footer