section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Thiết bị đeo tay
			li
				a(href="#")
					span Smartwatch
			li
				a(href="#")
					span Fossil