section.cartfooter.clearfix
	.footer-top.clearfix
		.container
			.row.flex.flex-wrap
				.col-12.col-sm-5.col-md-6.col-lg-3
					.footer-col
						.contact
							<i class="fa fa-phone" aria-hidden="true"></i>
							.contact-info Hotline
								a(href="tel:19000000") 1900 0000
				.col-12.col-sm-7.col-md-6.col-lg-4
					.footer-col
						.contact
							<i class="fa fa-envelope" aria-hidden="true"></i>
							.contact-info Email
								a(href="mailto:info@canhcam.com.vn") info@canhcam.com.vn
				.col-12.col-md-12.col-lg-5
					.footer-col
						.icon-list.clearfix
							ul 
								li 
									img(src="img/payment/visa.png", alt="")
								li 
									img(src="img/payment/master.png", alt="")
								li 
									img(src="img/payment/jcb.png", alt="")
								li 
									img(src="img/payment/cod.png", alt="")
								li 
									img(src="img/payment/smartlink.png", alt="")
								li 
									img(src="img/payment/123pay.png", alt="")
	.footer-bottom.clearfix
		.container
			.copyright Copyright © 2016 Shopping Cart Template All rights reserved. Developed by Canh Cam.
	