.container
	section.cart-step.clearfix
		.step.active
			.number <i class="material-icons">shopping_cart</i>
			.name Giỏ hàng
		.step
			.number <i class="material-icons">person</i>
			.name Đăng nhập
		.step
			.number <i class="material-icons">local_shipping</i>
			.name Thông tin giao hàng
		.step
			.number <i class="material-icons">credit_card</i>
			.name Hình thức thanh toán
	section.cart-page.clearfix
		.cart-title <i class="material-icons">shopping_basket</i> Có <strong>2</strong> sản phẩm trong giỏ hàng
		table.cart-table
			thead
				tr 
					th.product Sản phẩm
					th.price Đơn giá
					th.amount Số lượng
					th.total Thành tiền
			tbody
				tr 
					td.product 
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#") Fossil Q Explorist
								.product-option
									.product-size 
										.label Size: 
										select(name="")
											option(value="") Lớn
									.product-color
										.label Màu sắc
										.color-list
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Trắng")
												.color-img(style="background: #fff")
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Đen")
												.color-img(style="background: #000")
											a.ajaxlink.active(href='#', data-toggle="tooltip" data-placement="right" title="Đỏ")
												.color-img(style="background: #ED0000")
								a.removeproduct(href="#") <i class="material-icons">close</i> Xóa sản phẩm
					td.price
						.new 5.400.000đ
						.old 6.000.000đ
						.sale -10%
					td.amount
						.input-number
							.btn-spin.btn-dec -
							input(type="text", value="1")
							.btn-spin.btn-inc +
					td.total 5.400.000đ
				tr 
					td.product 
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#") Fossil Q Explorist
								.product-option
									.product-size 
										.label Size: 
										select(name="")
											option(value="") Lớn
									.product-color
										.label Màu sắc
										.color-list
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Trắng")
												.color-img(style="background: #fff")
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Đen")
												.color-img(style="background: #000")
											a.ajaxlink.active(href='#', data-toggle="tooltip" data-placement="right" title="Đỏ")
												.color-img(style="background: #ED0000")
								a.removeproduct(href="#") <i class="material-icons">close</i> Xóa sản phẩm
					td.price
						.new 5.400.000đ
						.old 6.000.000đ
						.sale -10%
					td.amount
						.input-number
							.btn-spin.btn-dec -
							input(type="text", value="1")
							.btn-spin.btn-inc +
					td.total 5.400.000đ
				tr 
					td.product 
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href="#") Fossil Q Explorist
								.product-option
									.product-size 
										.label Size: 
										select(name="")
											option(value="") Lớn
									.product-color
										.label Màu sắc
										.color-list
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Trắng")
												.color-img(style="background: #fff")
											a.ajaxlink(href='#', data-toggle="tooltip" data-placement="right" title="Đen")
												.color-img(style="background: #000")
											a.ajaxlink.active(href='#', data-toggle="tooltip" data-placement="right" title="Đỏ")
												.color-img(style="background: #ED0000")
								a.removeproduct(href="#") <i class="material-icons">close</i> Xóa sản phẩm
					td.price
						.new 5.400.000đ
						.old 6.000.000đ
						.sale -10%
					td.amount
						.input-number
							.btn-spin.btn-dec -
							input(type="text", value="1")
							.btn-spin.btn-inc +
					td.total 5.400.000đ
	.cart-btnwrap.clearfix
		.total-amount 
			.label Thành tiền:
			.value 11.200.000đ
				span.des Giá đã bao gồm VAT
		a.btn-backstep(href="#!") Quay lại
		a.btn-nextstep(href="cart1.html") Tiến hành đặt hàng
	section.cart-lastview.clearfix
		.cart-title <i class="material-icons">access_time</i> Sản phẩm đã xem
		.lastview-list
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
			.item
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
