
.container
	section.mobile-banner.clearfix.d-xl-none
		.item
			img(src="img/banner/1.jpg", alt="")
		.item
			img(src="img/banner/2.jpg", alt="")
		.item
			img(src="img/banner/3.jpg", alt="")
	section.mobile-category.clearfix.d-xl-none
		.mobile-title
			a.title(href="#") Ngành hàng
			//- .btn-viewmore Xem thêm
		.mobile-cate-list
			ul
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic1.png", alt="")
						.name Thiết bị đeo tay
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic2.png", alt="")
						.name Home Theater
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic4.png", alt="")
						.name Thiết bị âm thanh
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic5.png", alt="")
						.name Máy tính, Laptop
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic6.png", alt="")
						.name Gaming gear
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic8.png", alt="")
						.name Camera
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic9.png", alt="")
						.name Phụ kiện
				li
					a.cate-col(href="#")
						.icon
							img(src="img/icon/cateic10.png", alt="")
						.name Hàng 2nd
.container
	section.home-category.clearfix
		.row
			article.col-12.col-lg-4
				.cate-card
					figure
						a.cate-img(href="#")
							img(src="img/cate/pic1.jpg", alt="")
						figcaption
							h3.cate-name
								a(href="#") Thiết bị đeo tay
							.des 500 sản phẩm
			article.col-12.col-lg-4
				.cate-card
					figure
						a.cate-img(href="#")
							img(src="img/cate/pic2.jpg", alt="")
						figcaption
							h3.cate-name
								a(href="#") Thiết bị âm thanh
							.des 350 sản phẩm
			article.col-12.col-lg-4
				.cate-card
					figure
						a.cate-img(href="#")
							img(src="img/cate/pic3.jpg", alt="")
						figcaption
							h3.cate-name
								a(href="#") Máy tính / Laptop
							.des 200 sản phẩm
	section.home-newproduct.clearfix
		nav#myTab.nav.nav-tabs(role='tablist')
			a#tab1-tab.nav-item.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-expanded='true') Sản phẩm mới
			a#tab2-tab.nav-item.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='tab2') Bán chạy
			a#tab3-tab.nav-item.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='tab3') Khuyến mãi
		#nav-tabContent.tab-content.product-list
			#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab1-tab')
				.newproduct-slide
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/1.jpg", alt="")
								figcaption
									h2.product-name iPhone 7 Plus Red
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/2.jpg", alt="")
								figcaption
									h2.product-name Samsung Galaxy Note 8
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/3.jpg", alt="")
								figcaption
									h2.product-name Samsung Galaxy S8
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/4.jpg", alt="")
								figcaption
									h2.product-name Sony Xperia XZ Premium
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/5.jpg", alt="")
								figcaption
									h2.product-name iPhone 6s 128GB
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/6.jpg", alt="")
								figcaption
									h2.product-name HTC U Ultra Sapphire
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/7.jpg", alt="")
								figcaption
									h2.product-name Sony Xperia XZ Premium Pink Gold
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/8.jpg", alt="")
								figcaption
									h2.product-name iPhone 6s Plus 64GB
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/9.jpg", alt="")
								figcaption
									h2.product-name iPhone 6s 32GB
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					.item
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/10.jpg", alt="")
								figcaption
									h2.product-name Sony Xperia XZs
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
			#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2-tab')
			#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3-tab')
		a.btn-viewmore(href="#") Xem thêm
	section.home-brand.clearfix.d-xl-none
		.techzones-logo
			img(src="img/techzonesbrand.png", alt="")
	section.home-qc.clearfix
		.row
			.col-12.col-lg-6
				a.banner-qc(href="#")
					img(src="img/banner/qc1.jpg", alt="")
			.col-12.col-lg-6
				a.banner-qc(href="#")
					img(src="img/banner/qc2.jpg", alt="")
	section.hot-product.clearfix
		.small-title Sản phẩm nổi bật
		.product-list
			.row.no-gutters
				article.col-12.col-sm-8.col-md-6.col-lg-4
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/b1.png", alt="")
							figcaption
								h2.product-name Samsung Galaxy Book 10.6 inch
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/20.jpg", alt="")
							figcaption
								h2.product-name iPad Pro 10.5 inch Wifi Cellular 64GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/21.jpg", alt="")
							figcaption
								h2.product-name iPad Pro 10.5 inch Wifi 64GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/22.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy Tab S3
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/23.jpg", alt="")
							figcaption
								h2.product-name iPad Wifi 128GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-12.col-sm-8.col-md-6.col-lg-4
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/b2.png", alt="")
							figcaption
								h2.product-name iPad Pro 9.7 inch Wifi 32GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-12.col-sm-8.col-md-6.col-lg-4
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/b3.png", alt="")
							figcaption
								h2.product-name iPad Pro 9.7 inch Wifi 32GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/24.jpg", alt="")
							figcaption
								h2.product-name iPad Wifi 128GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/25.jpg", alt="")
							figcaption
								h2.product-name iPad Wifi 128GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/26.jpg", alt="")
							figcaption
								h2.product-name iPad Wifi 128GB (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/27.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy Tab A6 10.1 Spen
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/28.jpg", alt="")
							figcaption
								h2.product-name Huawei MediaPad M3 8.0 (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-12.col-sm-8.col-md-6.col-lg-4
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/b4.png", alt="")
							figcaption
								h2.product-name Samsung Galaxy Tab A 8.0 (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				article.col-6.col-sm-4.col-md-3.col-lg-2
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/29.jpg", alt="")
							figcaption
								h2.product-name Huawei MediaPad T3 8.0 (2017)
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
	section.home-newproduct.clearfix.d-xl-none
		.mobile-title 
			.title Lựa chọn cho bạn
		.category-wrap
			.category-nav
				.item 
					.category-name Thiết bị đeo tay
				.item 
					.category-name Home Theater
				.item 
					.category-name Thiết bị âm thanh
				.item 
					.category-name Máy tính
				.item 
					.category-name Gaming Gear
				.item 
					.category-name Camera
				.item 
					.category-name Phụ kiện
				.item 
					.category-name Hàng 2nd
			.category-slide
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
				.item
					.product-list
						.row
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					a.btn-viewmore(href="#") Xem thêm
	section.home-product.clearfix
		h2.product-cate 
			a(href="#!") Thiết bị đeo tay
		nav.cate-list
			ul
				li
					a(href="#") Smartwatch
				li
					a(href="#") Vòng đeo tay
		.row
			.col-12.col-lg-9
				.product-banner
					.item
						a(href="#")
							img(src="img/product/ads1.jpg", alt="")
				ul#myTab.nav.nav-tabs(role='tablist')
					li.nav-item
						a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-expanded='true') Sản phẩm nổi bật
					li.nav-item
						a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile') Khuyến mãi
	
				#myTabContent.tab-content
					#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
						.home-product-slide.product-list
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/1.jpg", alt="")
										figcaption
											h2.product-name iPhone 7 Plus Red
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/2.jpg", alt="")
										figcaption
											h2.product-name Samsung Galaxy Note 8
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/3.jpg", alt="")
										figcaption
											h2.product-name Samsung Galaxy S8
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/4.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/5.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 128GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							.item
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/6.jpg", alt="")
										figcaption
											h2.product-name HTC U Ultra Sapphire
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...

			.col-12.col-lg-3
				.product-brand
					.title Thương hiệu
					.brand-list
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a(href="#")
								img(src="img/brand/1.png", alt="")
						.brand
							a.btn-viewmore(href="#") Xem thêm
				.product-suggest
					.title Lựa chọn cho bạn
					.product
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.new 9.000.000 ₫
									.old 12.000.000 ₫
					.product
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.new 9.000.000 ₫
									.old 12.000.000 ₫
					.product
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.new 9.000.000 ₫
									.old 12.000.000 ₫
					//- .product
						figure
							a.product-img(href="#")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h3.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.new 9.000.000 ₫
									.old 12.000.000 ₫
					.btn-wrap
						a.btn-viewmore(href="#") Xem thêm
section.home-news.clearfix
	.container
		.mobile-title
			.title Tin tức mới nhất
			a.btn-viewmore(href="#") Xem thêm
		.news-list.clearfix
			.item
				.news-col
					figure
						figcaption
							time 23/09/2016
							h3.news-name
								a(href="#") Samsung chính thức trình làng Galaxy Note8
						a.news-img(href="#")
							img(src="img/news/1.jpg", alt="")
			.item
				.news-col
					figure
						figcaption
							time 23/09/2016
							h3.news-name
								a(href="#") Samsung chính thức trình làng Galaxy Note8
						a.news-img(href="#")
							img(src="img/news/2.jpg", alt="")
			.item
				.news-col
					figure
						figcaption
							time 23/09/2016
							h3.news-name
								a(href="#") Samsung chính thức trình làng Galaxy Note8
						a.news-img(href="#")
							img(src="img/news/3.jpg", alt="")
			.item
				.news-col
					figure
						figcaption
							time 23/09/2016
							h3.news-name
								a(href="#") Samsung chính thức trình làng Galaxy Note8
						a.news-img(href="#")
							img(src="img/news/4.jpg", alt="")
section.home-news.clearfix
	.container
		.mobile-title
			.title Techzones trên Facebook
		.fbpost-list.clearfix
			.item
				.fbpost
					figure
						a.fb-img(href="#")
							img(src="img/news/5.jpg", alt="")
						figcaption
							.fb-name
								a(href="#") Giới thiệu loạt sản phẩm phụ kiện chính hãng cho Galaxy S8/S8 Plus
							time 19:05 26/8/2017
							.fb-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non in sapiente porro alias aperiam repellat inventore esse, deserunt explicabo consequatur!
			.item
				.fbpost
					figure
						a.fb-img(href="#")
							img(src="img/news/6.jpg", alt="")
						figcaption
							.fb-name
								a(href="#") Giới thiệu loạt sản phẩm phụ kiện chính hãng cho Galaxy S8/S8 Plus
							time 19:05 26/8/2017
							.fb-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non in sapiente porro alias aperiam repellat inventore esse, deserunt explicabo consequatur!
			.item
				.fbpost
					figure
						a.fb-img(href="#")
							img(src="img/news/7.jpg", alt="")
						figcaption
							.fb-name
								a(href="#") Giới thiệu loạt sản phẩm phụ kiện chính hãng cho Galaxy S8/S8 Plus
							time 19:05 26/8/2017
							.fb-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non in sapiente porro alias aperiam repellat inventore esse, deserunt explicabo consequatur!
			.item
				.fbpost
					figure
						a.fb-img(href="#")
							img(src="img/news/8.jpg", alt="")
						figcaption
							.fb-name
								a(href="#") Giới thiệu loạt sản phẩm phụ kiện chính hãng cho Galaxy S8/S8 Plus
							time 19:05 26/8/2017
							.fb-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non in sapiente porro alias aperiam repellat inventore esse, deserunt explicabo consequatur!
		.btn-wrap.d-xl-none
			.btn-follow <i class="fa fa-facebook" aria-hidden="true"></i> Follow us