section.mobile-cate.clearfix
	//- h1.page-title Danh sách ngành hàng
	.container
		.row
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/1.jpg", alt="")
						.icon
							img(src="img/icon/cateic1.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Thiết bị đeo tay
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/2.jpg", alt="")
						.icon
							img(src="img/icon/cateic2.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Home Theater
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/3.jpg", alt="")
						.icon
							img(src="img/icon/cateic4.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Thiết bị âm thanh
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/4.jpg", alt="")
						.icon
							img(src="img/icon/cateic5.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Máy tính / Laptop
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/5.jpg", alt="")
						.icon
							img(src="img/icon/cateic6.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Camera
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/6.jpg", alt="")
						.icon
							img(src="img/icon/cateic8.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Phụ kiện
						.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/7.jpg", alt="")
						.icon
							img(src="img/icon/cateic9.png", alt="")
					figcaption
						h2.cate-name
							a(href="#") Hàng 2nd
						.cate-des Có 128 sản phẩm