section.mobile-cate2.clearfix
	//- h1.page-title Danh sách ngành hàng
	.container
		.row
			.cate-col
				figure
					a.cate-img(href="chuyenmuc.html")
						img(src="img/cate/1.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="chuyenmuc.html")
								.icon
									img(src="img/icon/cateic1.png", alt="")
								span.name Thiết bị đeo tay
								.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/2.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic2.png", alt="")
								span.name Home Theater
								span.cate-des Có 12 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/3.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic4.png", alt="")
								span.name Thiết bị âm thanh
								.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/4.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic5.png", alt="")
								span.name Máy tính / Laptop
								.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/5.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic6.png", alt="")
								span.name Camera
								.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/6.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic8.png", alt="")
								span.name Phụ kiện
								.cate-des Có 128 sản phẩm
			.cate-col
				figure
					a.cate-img(href="#")
						img(src="img/cate/7.jpg", alt="")
					figcaption
						h2.cate-name
							a(href="#") 
								.icon
									img(src="img/icon/cateic9.png", alt="")
								span.name Hàng 2nd
								.cate-des Có 128 sản phẩm