.container
	.product-page-intro
		.bg
			img(src="img/brand/banner.jpg", alt="")
		.caption
			h1.name Samsung
			.content
				p Samsung là một tập đoàn đa quốc gia của Hàn Quốc có tổng hành dinh đặt tại Samsung Town, Seoul. Tập đoàn có nhiều công ty con, hầu hết hoạt động dưới thương hiệu Samsung, là tập đoàn thương mại (chaebol) lớn nhất Hàn Quốc. Samsung được sáng lập bởi Lee Byung-chul năm 1938. Từ thập kỉ 90, Samsung mở rộng hoạt động trên quy mô toàn cầu, tập trung vào lĩnh vực điện tử, ĐTDĐ và chất bán dẫn...

				p 
					strong Mai Nguyên - Đại lý ủy quyền chính thức
						br
						|Samsung Experience Store (SES), Bitexco Financial Tower