.container
	section.compare-page.clearfix
		.page-title So sánh điện thoại <strong>iPhone 7 Plus 256GB</strong> và <strong>iPhone 7 Plus Red 128GB</strong>
		table.compare-product-table.specifications
			tbody
				tr.product-header
					td
						a.toggle-diff(href="#") Chỉ hiện điểm khác biệt
					td
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/1.jpg", alt="")
								figcaption
									h2.product-name iPhone 7 Plus Red
									.product-price
										.new 23.490.000 ₫
										//- .old 25.000.000 ₫
					td
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/2.jpg", alt="")
								figcaption
									h2.product-name Samsung Galaxy Note 8
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
				tr.specs-group.title
					td(align='left', colspan='3')
						strong
							a(href='#', data-title='Tổng quan')
								i.fa.fa-minus.active
								|  Tổng quan
				tr.specs-match(data-title='Tổng quan')
					td(align='left') Cấu hình
					td(align='center', valign='top') Dual-core Apple S3 và Apple W2 (chip không dây)
					td(align='center', valign='top') Dual-core Apple S3 và Apple W2 (chip không dây)
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Kích thước
					td(align='center', valign='top') 42mm: 42.5 x 36.4 x 11.4 mm | 38mm : 38.6 x 33.3 x 11.4 mm
					td(align='center', valign='top') 42.5 x 36.4 x 11.4 mm
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Trọng lượng
					td(align='center', valign='top') 38mm : 42,4g | 42mm : 52.8g
					td(align='center', valign='top') 32.4g
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Màn hình
					td(align='center', valign='top')
						| 38 mm hay 42 mm OLED Retina display với Force Touch và độ sáng 1000nits Với mặt kính Sapphire
					td(align='center', valign='top') 38 mm hay 42 mm OLED Retina display với Force Touch và độ sáng 1000nits
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Chất liệu
					td(align='center', valign='top') Thép không gỉ
					td(align='center', valign='top') Vỏ nhôm Aluminum 7000
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Loại dây
					td(align='center', valign='top') Dây thép Milanese Loop - Dễ dàng thay thế
					td(align='center', valign='top') Cao su - Dễ dàng thay thế
				tr.specs-match(data-title='Tổng quan')
					td(align='left') Hệ điều hành
					td(align='center', valign='top') watchOS 4
					td(align='center', valign='top') watchOS 4
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Tương thích
					td(align='center', valign='top') IOS 11 trở lên
					td(align='center', valign='top')
				tr.specs-match(data-title='Tổng quan')
					td(align='left') Chuẩn chống nước
					td(align='center', valign='top') 50 mét
					td(align='center', valign='top') 50 mét
				tr.specs-match(data-title='Tổng quan')
					td(align='left') Pin
					td(align='center', valign='top') 18 tiếng
					td(align='center', valign='top') 18 tiếng
				tr.specs-match(data-title='Tổng quan')
					td(align='left') Ram
					td(align='center', valign='top') 512MB
					td(align='center', valign='top') 512MB
				tr.specs-not-match(data-title='Tổng quan')
					td(align='left') Bộ nhớ trong
					td(align='center', valign='top') 16GB
					td(align='center', valign='top') 8GB hay 16GB (cho bản có cellular hay eSim)
				tr.specs-group.title
					td(align='left', colspan='3')
						strong
							a(href='#', data-title='Tính năng')
								i.fa.fa-minus.active
								|  Tính năng
				tr.specs-match(data-title='Tính năng')
					td(align='left') Loa ngoài
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Tính năng')
					td(align='left') Microphone
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Tính năng')
					td(align='left') Nhận thông báo từ xa thông qua Wi-FI
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Tính năng')
					td(align='left') Khả năng đàm thoại trên đồng hồ
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Tính năng')
					td(align='left') Trả lời tin nhắn bằng giọng nói thành văn bản
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Tính năng')
					td(align='left') Tải ứng dụng thông qua chợ ứng dụng tích hợp
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-group.title
					td(align='left', colspan='3')
						strong
							a(href='#', data-title='Cảm biến')
								i.fa.fa-minus.active
								|  Cảm biến
				tr.specs-match(data-title='Cảm biến')
					td(align='left') Ambient light sensor (Cảm biến ánh sáng)
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Cảm biến')
					td(align='left') Gyroscope (Con quay hồi chuyển)
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Cảm biến')
					td(align='left') Accelerometer (Cảm biến gia tốc)
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Cảm biến')
					td(align='left') Đo nhịp tim
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-match(data-title='Cảm biến')
					td(align='left') Barometric altimeter (cảm biến đo áp xuất cao độ)
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle
				tr.specs-group.title
					td(align='left', colspan='3')
						strong
							a(href='#', data-title='Kết nối')
								i.fa.fa-minus.active
								|  Kết nối
				tr.specs-match(data-title='Kết nối')
					td(align='left') WI-FI
					td(align='center', valign='top') 802.11b/g/n 2.4GHz
					td(align='center', valign='top') 802.11b/g/n 2.4GHz
				tr.specs-match(data-title='Kết nối')
					td(align='left') Bluetooth
					td(align='center', valign='top') 4.0 A2DP
					td(align='center', valign='top') 4.0 A2DP
				tr.specs-match(data-title='Kết nối')
					td(align='left') GPS ; Glonass
					td(align='center', valign='top')
						i.fa.fa-check-circle
					td(align='center', valign='top')
						i.fa.fa-check-circle

