include breadcrumb
.container.fullwidth
	section.product-page.clearfix
		.row
			.col-12.col-xl-9
				.row
					.col-12.col-lg-6
						section.product-slide-wrap
							.product-name-wrap.d-block.d-lg-none
								h1.product-name Samsung Galaxy Note 8
									span.product-status.on (còn hàng)
							.product-nav
								.item
									.img
										img(src='img/product/p1.jpg' alt='')
								.item
									.img
										img(src='img/product/p2.jpg' alt='')
								.item
									.img
										img(src='img/product/p3.jpg' alt='')
								.item
									.img
										img(src='img/product/p4.jpg' alt='')
							.product-slide
								.item
									a.img(href="img/product/p1.jpg" data-fancybox="sp")
										img(src='img/product/p1.jpg' alt='')
								.item
									a.img(href="img/product/p2.jpg" data-fancybox="sp")
										img(src='img/product/p2.jpg' alt='')
								.item
									a.img(href="img/product/p3.jpg" data-fancybox="sp")
										img(src='img/product/p3.jpg' alt='')
								.item
									a.img(href="img/product/p4.jpg" data-fancybox="sp")
										img(src='img/product/p4.jpg' alt='')
							.slide-des <i class="material-icons">zoom_in</i> Bấm vào để xem ảnh phóng to
					.col-12.col-lg-6
						section.product-info
							.product-name-wrap.d-none.d-lg-block
								h1.product-name Samsung Galaxy Note 8
									span.product-status.on (còn hàng)
							.product-brand Thương hiệu
								a(href="#") Fossil
							.product-id Mã sản phẩm
								a(href="#") Fossil123
							.product-price
								.new 5.600.000 đ
								.old 6.000.000 đ
							.product-options
								.label Chọn màu sắc sản phẩm:
								.product-color
									a.active(href="#")
										img(src="img/product/p1.jpg" alt="")
									a(href="#")
										img(src="img/product/p1.jpg" alt="")
									a.disable(href="#")
										img(src="img/product/p1.jpg" alt="")
							.product-options
								.label  Chọn kích cỡ sản phẩm:
								.product-size
									a.active(href="#") To
									a(href="#") Bự
									a.disable(href="#") Nhỏ
							.btn-wrap.clearfix
								a.btn-like(href="#")
								a.btn-addtocart(href="#") Thêm vào giỏ hàng
							//- .product-tragop
								a.btn-tragop(href="#") Mua trả góp
								.module-title Chỉ từ 1.084.000 đ/tháng
								.tragop-des Vui lòng xem thông tin trả góp 
									a(href="#") tại đây.
							.product-tragop
								.row
									.col-12.col-md-6
										a.btn-tragop(href="#") Mua trả góp không cần thẻ
											.btn-des 419.000 đ/tháng trong 12 tháng
										.tragop-des Trả góp không cần thẻ tín dụng, chỉ cần một số giấy tờ tùy thân. Lãi suất tùy theo số tiền bạn trả trước và thời gian trả góp
									.col-12.col-md-6
										a.btn-tragop(href="javascript:;" data-fancybox="" data-src="#popup-tragop") Mua trả góp 0% qua thẻ
											.btn-des 665.000 đ/tháng trong 6 tháng
										.tragop-des Trả góp lãi suất 0% qua thẻ tín dụng của HSBC, Sacombank, ShinhanBank, Citibank, Exinbank, VIB, Maritime Bank, TPBank & Standard Chartered - 
											a(href="#") Chi tiết
							#popup-tragop.popup-tragop.clearfix
								.bank-list
									.row
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
										.col-6.col-sm-4.col-md-3
											a.bank(href="#!")
												img(src="img/bank/1.jpg", alt="")
							.product-overview.content
								ul
									li Đồng hồ thông minh đầu tiên cũa hãng Fossil
									li Mặt đồng hồ thiết kế dành riêng cho phải mạnh
									li Bảo hành 6 tháng
							.popup-addtocart
								.addtocart-success <i class="material-icons">check_circle</i>Thêm vào giỏ hàng thành công
								.btn-hidepopup <i class="material-icons">close</i> Đóng
								.product
									figure
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshal
											.product-option size: <strong>lớn</strong>, màu: <strong>bạc</strong>
											.product-amount số lượng: <strong>1</strong>
											.product-price 5.600.000 đ
								.popup-btnwrap
									a.btn-gotocart(href="#") Xem giỏ hàng
							section.popup-panel.option-popup.clearfix
								.panel-header.clearfix
									.container
										.btn-closepanel <i class="material-icons">close</i>
										.panel-title Chọn thuộc tính sản phẩm
								.panel-content.clearfix
									.container
										.product
											figure
												.product-img
													img(src="img/product/1.jpg", alt="")
												figcaption
													h3.product-name Fossil Q Marshal
													.product-price
														.new 5.600.000 đ
														.old 6.000.000 đ
										.product-options
											.label Tùy chọn
											.product-color
												a.active(href="#")
													img(src="img/product/p1.jpg" alt="")
												a(href="#")
													img(src="img/product/p1.jpg" alt="")
												a.disable(href="#")
													img(src="img/product/p1.jpg" alt="")
										.product-options
											.label Kích cỡ
											.product-size
												a.active(href="#") To
												a(href="#") Bự
												a.disable(href="#") Nhỏ
										.product-options
											.label Số lượng
											.input-number
												.btn-spin.btn-dec -
												input(type="text" value="1")
												.btn-spin.btn-inc +
							.share
								img(src="img/share.jpg", alt="")
					.col-12
						section.product-content.product-box.clearfix
							.title <i class="fa fa-cube" aria-hidden="true"></i> Nguyên hộp
							.content
								p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, laboriosam.
						section.product-content.product-gift.clearfix
							.title <i class="fa fa-gift" aria-hidden="true"></i> Quà tặng
							.content
								p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, numquam?
						section.description-wrap.clearfix
							section.product-description 
								nav#myTab.nav.nav-tabs(role='tablist')
									a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-home', role='tab', aria-controls='nav-home', aria-expanded='true') Đặc điểm chi tiết
									a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-profile', role='tab', aria-controls='nav-profile') Thông số kỹ thuật
									a#nav-faq-tab.nav-item.nav-link(data-toggle='tab', href='#nav-faq', role='tab', aria-controls='nav-faq') Câu hỏi thường gặp
								#nav-tabContent.tab-content
									#nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab')
										.content.static-content
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/914f6672-c76f-478c-8330-4e3395c71072.jpg" alt="")
											p Q Marshal là đồng hồ thông minh của Fossil được kết nối với điện thoại thông minh của bạn. Cấu tạo bằng thép không gỉ, tính năng quay số thông minh với màn hình cảm ứng bao gồm những tính năng mới nhất của Android Wear™ 2.0, nhắn tin thân thiện, tuỳ chỉnh mặt đồng hồ và theo dõi hoạt động tự động.
											p Được cung cấp bởi Android Wear™ 2.0, Fossil Q Marshal tương thích với điện thoại chạy Android™ 4.3+ hoặc iPhone 5 / iOS 9+. Các tính năng được hỗ trợ có thể khác nhau tuỳ theo nền tảng. Android và Android Wear là thương hiệu của Google Inc.
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/6738f669-3122-488f-b3c2-62a5a98dc0ff.jpg" alt="")
											p 
												strong Theo dõi sức khỏe
											p Với chức năng theo dõi hoạt động, bạn có thể theo dõi thành tích hàng ngày của bạn: số bước, khoảng cách và calo bị đốt cháy.
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/cfa09429-e809-4977-9f1a-3706d4f5247e.jpg" alt="")
											p 
												strong Tuổi thọ pin
											p Pin sử dụng liên tục 24 tiếng
												br
												em *Tuổi thọ pin khác nhau tùy thuộc vào cách sử dụng.
											
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/d1f8d5a1-c6e7-44ce-87d4-dbca57822c85.jpg.w480.jpg" alt="")
											p 
												strong Kết nối
											p Đồng hồ thông minh của bạn tương thích với điện thoại thông minh Android™ và iOS, đặc biệt với Android OS 4.3 trở lên, iOS 9 / iPhone® 5 trở lên. Tất cả thiết bị đều có Bluetooth® 4.1 Low Energy và Wi-Fi 802.11 b / g / n.
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/21593cd6-52fe-4c90-96c1-0153f14cd3ed.jpg" alt="")
											p 
												strong Thông báo
											p Q Marshal sử dụng công nghệ Bluetooth® để kết nối với điện thoại của bạn. Khi một thông báo hoặc cảnh báo đến, một buzz nhẹ nhàng sẽ cho bạn biết ngay.
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/83dd5871-28bd-442c-8984-309bdbe036e6.jpg" alt="")
											p 
												strong Tùy chỉnh giao diện và tính năng linh hoạt
											p Tùy chỉnh giao diện mặt đồng hồ của bạn bất cứ lúc nào bạn muốn. Đơn giản chỉ cần chọn một thiết kế Fossil hoặc Android Wear, điều chỉnh màu sắc, sau đó thêm các tuỳ biến lựa chọn của bạn vào mặt đồng hồ.
											img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/90f6cf12-0593-4006-8614-4087d470c066.jpg" alt="")
											p 
												strong Tương thích nhiều kiểu dây đeo
											p Q Marshal tương thích với tất cả các mẫu dây 22mm. Kiểm tra tất cả các dây đai đồng hồ 22mm tương thích cho thiết kế có thể hoán đổi này.
										.btn-viewdetail Xem thêm
									#nav-profile.tab-pane.fade(role='tabpanel', aria-labelledby='nav-profile-tab')
									#nav-faq.tab-pane.fade(role='tabpanel', aria-labelledby='nav-faq-tab')
								.popup-panel.description-popup
									.panel-header.clearfix
										.container
											.btn-closepanel <i class="material-icons">arrow_back</i>
											//- .panel-title Đặc điểm chi tiết
											nav#detail-info.nav.nav-tabs(role='tablist')
												a#nav-info.nav-item.nav-link.active(data-toggle='tab', href='#tab-info', role='tab', aria-controls='tab-info', aria-expanded='true') Đặc điểm chi tiết
												a#nav-info2.nav-item.nav-link(data-toggle='tab', href='#tab-info2', role='tab', aria-controls='tab-info2') <i class="material-icons">perm_device_information</i>
									.panel-content
										#detail-content.tab-content
											#tab-info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tab-info')
												.content
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/914f6672-c76f-478c-8330-4e3395c71072.jpg" alt="")
													p Q Marshal là đồng hồ thông minh của Fossil được kết nối với điện thoại thông minh của bạn. Cấu tạo bằng thép không gỉ, tính năng quay số thông minh với màn hình cảm ứng bao gồm những tính năng mới nhất của Android Wear™ 2.0, nhắn tin thân thiện, tuỳ chỉnh mặt đồng hồ và theo dõi hoạt động tự động.
													p Được cung cấp bởi Android Wear™ 2.0, Fossil Q Marshal tương thích với điện thoại chạy Android™ 4.3+ hoặc iPhone 5 / iOS 9+. Các tính năng được hỗ trợ có thể khác nhau tuỳ theo nền tảng. Android và Android Wear là thương hiệu của Google Inc.
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/6738f669-3122-488f-b3c2-62a5a98dc0ff.jpg" alt="")
													p 
														strong Theo dõi sức khỏe
													p Với chức năng theo dõi hoạt động, bạn có thể theo dõi thành tích hàng ngày của bạn: số bước, khoảng cách và calo bị đốt cháy.
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/cfa09429-e809-4977-9f1a-3706d4f5247e.jpg" alt="")
													p 
														strong Tuổi thọ pin
													p Pin sử dụng liên tục 24 tiếng
														br
														em *Tuổi thọ pin khác nhau tùy thuộc vào cách sử dụng.
													
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/d1f8d5a1-c6e7-44ce-87d4-dbca57822c85.jpg.w480.jpg" alt="")
													p 
														strong Kết nối
													p Đồng hồ thông minh của bạn tương thích với điện thoại thông minh Android™ và iOS, đặc biệt với Android OS 4.3 trở lên, iOS 9 / iPhone® 5 trở lên. Tất cả thiết bị đều có Bluetooth® 4.1 Low Energy và Wi-Fi 802.11 b / g / n.
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/21593cd6-52fe-4c90-96c1-0153f14cd3ed.jpg" alt="")
													p 
														strong Thông báo
													p Q Marshal sử dụng công nghệ Bluetooth® để kết nối với điện thoại của bạn. Khi một thông báo hoặc cảnh báo đến, một buzz nhẹ nhàng sẽ cho bạn biết ngay.
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/83dd5871-28bd-442c-8984-309bdbe036e6.jpg" alt="")
													p 
														strong Tùy chỉnh giao diện và tính năng linh hoạt
													p Tùy chỉnh giao diện mặt đồng hồ của bạn bất cứ lúc nào bạn muốn. Đơn giản chỉ cần chọn một thiết kế Fossil hoặc Android Wear, điều chỉnh màu sắc, sau đó thêm các tuỳ biến lựa chọn của bạn vào mặt đồng hồ.
													img(src="https://cdn.techzones.vn/Data/Sites/1/media/smartwatch/fossil-q-marshal/90f6cf12-0593-4006-8614-4087d470c066.jpg" alt="")
													p 
														strong Tương thích nhiều kiểu dây đeo
													p Q Marshal tương thích với tất cả các mẫu dây 22mm. Kiểm tra tất cả các dây đai đồng hồ 22mm tương thích cho thiết kế có thể hoán đổi này.
											#tab-info2.tab-pane.fade(role='tabpanel', aria-labelledby='tab-info2') 
												.content Thông số
							.rightcol-wrap
			.col-12.col-xl-3
				section.product-content.product-video.clearfix
					.title Video liên quan
					.video-list-slide.video-list
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/1.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/2.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/3.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/4.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/5.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
						.item
							.video-col
								figure
									a.video-img(href="#" data-fancybox)
										img(src="img/news/6.jpg", alt="")
									figcaption
										a(href="#") Lorem ipsum dolor sit.
				section.product-content.product-suggest.clearfix
					.title Sản phẩm gợi ý
					.mobile-product.clearfix
						.suggest-group
							.suggest-title Máy quay thể thao
							.suggest-list.clearfix
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
						.suggest-group
							.suggest-title Camera 360 độ
							.suggest-list.clearfix
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
						.suggest-group
							.suggest-title Quai đồng hồ
							.suggest-list.clearfix
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
						.suggest-group
							.suggest-title Phụ kiện khác
							.suggest-list.clearfix
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
								article.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/1.jpg", alt="")
										figcaption
											h3.product-name
												a(href="#") Fossil Q Marshall
				section.product-content.product-showcompare.clearfix
					.title Sản phẩm cùng tầm giá
					.search-product
						.searchbox
							input(type="text" placeholder="Nhập từ khóa tìm kiếm...")
							button.searchbutton <i class="material-icons">search</i>
					.product-other.product-list.clearfix
						.item
							article.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/1.jpg", alt="")
									figcaption
										h2.product-name 
											a(href="#") iPhone 7 Plus Red
										.product-price
											.new 23.490.000 ₫
										a.btn-compare(href="#") So sánh
						.item
							article.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/2.jpg", alt="")
									figcaption
										h2.product-name
											a(href="#") Samsung Galaxy Note 8
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
										a.btn-compare(href="#") So sánh
						.item
							article.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/3.jpg", alt="")
									figcaption
										h2.product-name
											a(href="#") Samsung Galaxy S8
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
										a.btn-compare(href="#") So sánh
						.item
							article.product-col
								figure
									a.product-img(href="#")
										img(src="img/product/4.jpg", alt="")
									figcaption
										h2.product-name
											a(href="#") Sony Xperia XZ Premium
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
										a.btn-compare(href="#") So sánh
				section.product-content.product-relative.clearfix
					.title Sản phẩm tương tự
					.product-other-slide.clearfix
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/1.jpg", alt="")
									figcaption
										h2.product-name iPhone 7 Plus Red
										.product-price
											.new 23.490.000 ₫
											//- .old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/2.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy Note 8
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/3.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy S8
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/4.jpg", alt="")
									figcaption
										h2.product-name Sony Xperia XZ Premium
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/5.jpg", alt="")
									figcaption
										h2.product-name iPhone 6s 128GB
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/6.jpg", alt="")
									figcaption
										h2.product-name HTC U Ultra Sapphire
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/7.jpg", alt="")
									figcaption
										h2.product-name Sony Xperia XZ Premium Pink Gold
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/8.jpg", alt="")
									figcaption
										h2.product-name iPhone 6s Plus 64GB
										.product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
				section.product-content.product-support.clearfix
					.title Tư vấn & Mua hàng - Gọi 
						a(href="tel:093 430 7799") 093 430 7799
					.content
						ul 
							li Freeship với đơn hàng trên 600.000đ
							li Giao hàng ngay (Nội thành TP.HCM)
							li Giao trong vòng 2 đến 3 ngày (Toàn quốc)
						img(src="https://techzones.vn/Data/Sites/1/media/logo/tragop-small.jpg" alt="")
						p 
							strong MIỄN PHÍ CHARGE THẺ
						img(src="https://techzones.vn/Data/Sites/1/media/icon/payment.png" alt="")
				section.product-content.product-news.clearfix
					.title Thủ thuật sử dụng
					.post-list.clearfix
						.post
							figure
								a.post-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad!
						.post
							figure
								a.post-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad!
						.post
							figure
								a.post-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad!
						.post
							figure
								a.post-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad!
						.post
							figure
								a.post-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ad!
			.col-12
				section.product-content.product-lastview.clearfix
					.title Sản phẩm đã xem
					.product-lastview-slide.product-list.clearfix
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/1.jpg", alt="")
									figcaption
										h2.product-name iPhone 7 Plus Red
										//- .product-price
											.new 23.490.000 ₫
											//- .old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/2.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy Note 8
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/3.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy S8
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/4.jpg", alt="")
									figcaption
										h2.product-name Sony Xperia XZ Premium
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/5.jpg", alt="")
									figcaption
										h2.product-name iPhone 6s 128GB
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/6.jpg", alt="")
									figcaption
										h2.product-name HTC U Ultra Sapphire
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/7.jpg", alt="")
									figcaption
										h2.product-name Sony Xperia XZ Premium Pink Gold
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/8.jpg", alt="")
									figcaption
										h2.product-name iPhone 6s Plus 64GB
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/1.jpg", alt="")
									figcaption
										h2.product-name iPhone 7 Plus Red
										//- .product-price
											.new 23.490.000 ₫
											//- .old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/2.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy Note 8
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/3.jpg", alt="")
									figcaption
										h2.product-name Samsung Galaxy S8
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/4.jpg", alt="")
									figcaption
										h2.product-name Sony Xperia XZ Premium
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
						.item
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/5.jpg", alt="")
									figcaption
										h2.product-name iPhone 6s 128GB
										//- .product-price
											.new 23.490.000 ₫
											.old 25.000.000 ₫
				section.product-content.product-footer.clearfix
					.title <i class="material-icons">place</i> Showroom
					.address Khuôn viên cà phê Tinh Tế - 209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM 