nav.newsct-category.d-xs-block.d-md-none
	ul
		li.active
			a(href="#") Thủ thuật sử dụng
		li
			a(href="#") Kiến thức mua hàng
		li
			a(href="#") Review sản phẩm
		li
			a(href="#") Tin thị trường
		li
			a(href="#") Tin khuyến mãi
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-page.clearfix
				.newspage-list
					.row
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
						article.col-6.col-md-4.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Samsung chính thức trình làng Galaxy Note8
										time 23/09/2016
		.col-12.col-lg-4.col-xl-3
			nav.news-category
				.title-wrap.clearfix
					h3.small-title Danh mục tin tức
				ul
					li
						a(href="#") Thủ thuật sử dụng
					li
						a(href="#") Kiến thức mua hàng
					li
						a(href="#") Review sản phẩm
					li
						a(href="#") Tin thị trường
					li
						a(href="#") Tin khuyến mãi
			section.news-video.clearfix
				.title-wrap.clearfix
					h3.small-title Videos
					a.btn-viewmore(href="tintucds.html") Xem thêm
				.video-list
					.video-col.big
						figure
							a.video-img(href="#" data-fancybox)
								img(src="img/news/1.jpg", alt="")
							figcaption
								a(href="#") Lorem ipsum dolor sit.
					.video-col
						figure
							a.video-img(href="#" data-fancybox)
								img(src="img/news/1.jpg", alt="")
							figcaption
								a(href="#") Lorem ipsum dolor sit.
					.video-col
						figure
							a.video-img(href="#" data-fancybox)
								img(src="img/news/1.jpg", alt="")
							figcaption
								a(href="#") Lorem ipsum dolor sit.
					.video-col
						figure
							a.video-img(href="#" data-fancybox)
								img(src="img/news/1.jpg", alt="")
							figcaption
								a(href="#") Lorem ipsum dolor sit.