section.mobile-product-page.clearfix
	.container
		include filter
		section.btn-filterwrap
			.btn-changeview
			.btn-showfilter <i class="material-icons">tune</i> Bộ lọc
			.btn-showcate <i class="material-icons">view_list</i> Danh mục
			//- .btn-sort
				label(for="sortproduct") <i class="material-icons">swap_vert</i> Sắp xếp theo:
				select#sortproduct
					option(value="#") Giá thấp - cao
					option(value="#") Giá cao - thấp
					option(value="#") Giảm giá nhiều nhất
		section.brand-intro
			.brand-logo
				img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
			.brand-des 
				.content.static-content Là một thương hiệu toàn cầu, Bose gần như có mặt trên tất cả mọi “mặt trận” của thị trường Audio từ loa, tai nghe cho đến các hệ thống xem phim. Tai nghe của Bose được đánh giá cao ở tính năng chống ồn chủ động, độ bền và âm bass dày, sâu, lực lưỡng, mang đậm tính chất của một tai nghe Mỹ. Bose được thành lập vào năm 1964 bởi tiến sỹ Amar G.Bose, trụ sở chính ngày nay đặt tại Framingham, Massachusetts với lượng công nhân viên lên đến trên 10 ngàn người ngày đêm làm việc hăng say để có thể mang lại những thành quả to lớn nhất đóng góp cho nhân loại.
				.btn-viewdetail Xem thêm
				.popup-panel.description-popup
					.panel-header.clearfix
						.container
							.btn-closepanel <i class="material-icons">arrow_back</i>
							.panel-title Thương hiệu BOSE
					.panel-content
						.content
							p Là một thương hiệu toàn cầu, Bose gần như có mặt trên tất cả mọi “mặt trận” của thị trường Audio từ loa, tai nghe cho đến các hệ thống xem phim. Tai nghe của Bose được đánh giá cao ở tính năng chống ồn chủ động, độ bền và âm bass dày, sâu, lực lưỡng, mang đậm tính chất của một tai nghe Mỹ. Bose được thành lập vào năm 1964 bởi tiến sỹ Amar G.Bose, trụ sở chính ngày nay đặt tại Framingham, Massachusetts với lượng công nhân viên lên đến trên 10 ngàn người ngày đêm làm việc hăng say để có thể mang lại những thành quả to lớn nhất đóng góp cho nhân loại.
		section.mobile-product
			.row
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.product-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga non nemo harum autem sit officiis autem sit officiis!
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.product-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim est deserunt totam accusantium rerum, quod, et quidem dolorum ea autem omnis nesciunt deleniti nihil officiis sint earum tempora reiciendis cupiditate, eaque voluptatum. Exercitationem repellendus itaque minima modi vitae mollitia necessitatibus?
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-12
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/bn1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') iPhone 7 Plus 128GB
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-12
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/bn2.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Samsung Galaxy Note8
								.product-price
									.old 29.000.000 ₫
									.new 22.490.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamct.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
