nav.newsct-category.d-xs-block.d-md-none
	ul
		li.active
			a(href="#") Thủ thuật sử dụng
		li
			a(href="#") Kiến thức mua hàng
		li
			a(href="#") Review sản phẩm
		li
			a(href="#") Tin thị trường
		li
			a(href="#") Tin khuyến mãi
section.news-breadcrumb.clearfix
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Tin tức
			li
				a(href="#")
					span Samsung chính thức trình làng Galaxy Note8
.container
	section.news-page.clearfix
		.news-detail
			h1.news-name Samsung chính thức trình làng Galaxy Note8
			time 23/08/2017
		.content
			.post-title Tiêu đề
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nisi maxime officiis, animi exercitationem quis. Possimus impedit, ab minima sequi odio perferendis, nemo sunt recusandae porro voluptate fuga assumenda explicabo. Aspernatur magnam consequatur itaque, molestias voluptas voluptatibus, at quas repellendus, dicta cumque et laborum veritatis placeat animi sequi fuga iste.
			.post-title2 Đây là tiêu đề mẫu
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ex fuga adipisci nam ad modi mollitia dignissimos sapiente eius unde error neque nobis iure, soluta accusamus maiores, dicta dolorum in harum facere. Reiciendis rerum, consequuntur dolor amet quos quam quae eaque vero, suscipit, asperiores ullam error nihil eum tenetur alias incidunt, consequatur eius ipsum voluptatum iure facilis. Sint error, accusamus voluptate soluta at distinctio voluptates officia modi repellendus, eos alias numquam repellat harum blanditiis dicta nulla. Quod voluptate repudiandae modi enim voluptates! Repudiandae maiores sit impedit quam quae tenetur delectus? Consequuntur voluptatibus illum dolorem quas, non alias soluta sunt dicta!
			figure
				img(src="img/news/1.jpg", alt="")
				figcaption mô tả ngắn về hình ảnh
			ul.special
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aspernatur.
				li Lorem ipsum dolor sit amet.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Lorem ipsum dolor sit amet, consectetur adipisicing.
		.share
			img(src="img/share.jpg", alt="")

		//- .title-wrap.clearfix
			h3.small-title Danh mục tin tức
		//- nav.news-category
			ul
				li
					a(href="#") Thủ thuật sử dụng
				li
					a(href="#") Kiến thức mua hàng
				li
					a(href="#") Review sản phẩm
				li
					a(href="#") Tin thị trường
				li
					a(href="#") Tin khuyến mãi
		.title-wrap.clearfix
			h3.small-title Bài viết nổi bật
			a.btn-viewmore(href="#") Xem thêm
		.post-list.clearfix
			.post
				figure
					a.post-img(href="#")
						img(src="img/news/2.jpg", alt="")
					figcaption
						h3.post-name
							a(href="#") Thủ thuật sử dụng hiệu quả Galaxy S8/S8 Plus của bạn
			.post
				figure
					a.post-img(href="#")
						img(src="img/news/2.jpg", alt="")
					figcaption
						h3.post-name
							a(href="#") Thủ thuật sử dụng hiệu quả Galaxy S8/S8 Plus của bạn
			.post
				figure
					a.post-img(href="#")
						img(src="img/news/2.jpg", alt="")
					figcaption
						h3.post-name
							a(href="#") Thủ thuật sử dụng hiệu quả Galaxy S8/S8 Plus của bạn
			.post
				figure
					a.post-img(href="#")
						img(src="img/news/2.jpg", alt="")
					figcaption
						h3.post-name
							a(href="#") Thủ thuật sử dụng hiệu quả Galaxy S8/S8 Plus của bạn
			.post
				figure
					a.post-img(href="#")
						img(src="img/news/2.jpg", alt="")
					figcaption
						h3.post-name
							a(href="#") Thủ thuật sử dụng hiệu quả Galaxy S8/S8 Plus của bạn
		.title-wrap.clearfix
			h3.small-title Videos
			a.btn-viewmore(href="#") Xem thêm
		.video-list
			.video-col
				figure
					a.video-img(href="#" data-fancybox)
						img(src="img/news/1.jpg", alt="")
					figcaption
						a(href="#") Lorem ipsum dolor sit.
			.video-col
				figure
					a.video-img(href="#" data-fancybox)
						img(src="img/news/1.jpg", alt="")
					figcaption
						a(href="#") Lorem ipsum dolor sit.
			.video-col
				figure
					a.video-img(href="#" data-fancybox)
						img(src="img/news/1.jpg", alt="")
					figcaption
						a(href="#") Lorem ipsum dolor sit.