section.brand-page.clearfix
	.container
		.brand-header
			h1.brand-logo
				a(href="#!")
					img(src="img/brand/2.png", alt="")
			.brand-menu
				ul
					li
						a(href="#!") Di động
					li
						a(href="#!") TV & audio
					li
						a(href="#!") Điện gia dụng
					li
						a(href="#!") Màn hình máy tính
		.brand-banner
			.item
				a.banner-img(href="#!")
					img(src="img/brand/bn1.jpg", alt="")
		.brand-category
			ul
				li.active
					a.category(href="#!")
						.img
							img(src="img/cate/icon1.png", alt="")
						.name Điện thoại
				li
					a.category(href="#!")
						.img
							img(src="img/cate/icon2.png", alt="")
						.name Máy tính bảng
				li
					a.category(href="#!")
						.img
							img(src="img/cate/icon3.png", alt="")
						.name Thiết bị đeo
				li
					a.category(href="#!")
						.img
							img(src="img/cate/icon4.png", alt="")
						.name Phụ kiện di động
		.brand-hotsale
			h2.page-title.text-center Sản phẩm điện thoại bán chạy
			.newproduct-slide
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name iPhone 7 Plus Red
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/2.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy Note 8
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/3.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy S8
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/4.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZ Premium
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/5.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s 128GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/6.jpg", alt="")
							figcaption
								h2.product-name HTC U Ultra Sapphire
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/7.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZ Premium Pink Gold
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/8.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s Plus 64GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/9.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s 32GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/10.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZs
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
			.btn-wrap
				a.btn-loadmore(href="#!") Xem thêm
				
		.brand-hotsale
			h2.page-title.text-center Sản phẩm máy tính bảng bán chạy
			.newproduct-slide
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name iPhone 7 Plus Red
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/2.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy Note 8
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/3.jpg", alt="")
							figcaption
								h2.product-name Samsung Galaxy S8
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/4.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZ Premium
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/5.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s 128GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/6.jpg", alt="")
							figcaption
								h2.product-name HTC U Ultra Sapphire
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/7.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZ Premium Pink Gold
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/8.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s Plus 64GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/9.jpg", alt="")
							figcaption
								h2.product-name iPhone 6s 32GB
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
				.item
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/10.jpg", alt="")
							figcaption
								h2.product-name Sony Xperia XZs
								.product-price
									.new 23.490.000 ₫
									.old 25.000.000 ₫
			.btn-wrap
				a.btn-loadmore(href="#!") Xem thêm