section.news-breadcrumb.clearfix
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Sản phẩm
			li
				a(href="#")
					span Trả góp
.container
	section.product-page.clearfix
		h1.page-title Mua trả góp tiêu dùng
		.product.tragop
			figure
				a.product-img(href="#")
					img(src="img/product/1.jpg", alt="")
				figcaption
					h2.product-name
						a(href="#") iPhone 7 Plus Red 128GB
					.product-price
						.new 20.000.000đ
						.old 25.000.000đ
		table.tragop-table
			tr
				td
					.col-head Gói trả góp
				td
					.col-head Lãi suất ưu đãi
						.des FE CREDIT
			tr
				td
					.col-body.money Số tiền phải trả mỗi tháng
				td
					.col-body.money
						.amount 418.000 đ
						|mỗi tháng x 12 tháng
			tr
				td 
					.col-body Trả trước
				td
					.col-body 0 đ (0%)
			tr
				td 
					.col-body Lãi suất giảm dần
				td
					.col-body 3.75% đ (0%)
			tr
				td 
					.col-body Lãi suất phẳng
				td
					.col-body 2.17 đ (0%)
			tr
				td 
					.col-body Tổng số tiền phải trả
				td
					.col-body 5.028.000 đ
			tr
				td 
					.col-body Chênh lệch so với giá bán
				td
					.col-body 1.038.000 đ
			tr
				td 
					.col-body Giấy tờ cần có
				td
					.col-body CMND + Hộ khẩu/ GPLX + Hoá đơn điện/ nước/ cáp/ internet
			tr
				td
					.col-body.btn-wrap
				td
					.col-body.btn-wrap
						a.btn-buy(href="#") Mua ngay
		//- table.tragop-table.d-block.d-md-none
			tr
				td
					.col-head Gói trả góp
				td
					.col-head Lãi suất ưu đãi
						.des FE CREDIT
			tr
				td
					.col-body.money Số tiền phải trả mỗi tháng
				td
					.col-body.money
						.amount 418.000 đ
						|mỗi tháng x 12 tháng
			tr
				td 
					.col-body Trả trước
				td
					.col-body 0 đ (0%)
			tr
				td 
					.col-body Lãi suất giảm dần
				td
					.col-body 3.75% đ (0%)
			tr
				td 
					.col-body Lãi suất phẳng
				td
					.col-body 2.17 đ (0%)
			tr
				td 
					.col-body Tổng số tiền phải trả
				td
					.col-body 5.028.000 đ
			tr
				td 
					.col-body Chênh lệch so với giá bán
				td
					.col-body 1.038.000 đ
			tr
				td 
					.col-body Giấy tờ cần có
				td
					.col-body CMND + Hộ khẩu/ GPLX + Hoá đơn điện/ nước/ cáp/ internet
			tr
				td
					.col-body.btn-wrap
				td
					.col-body.btn-wrap
						a.btn-buy(href="#") Mua ngay
		.content
			ul
				li Chỉ áp dụng cho khách hàng tại Hồ Chí Minh, Hà Nội, Bình Dương, Đồng Nai, Bà Rịa - Vũng Tàu, Long An, Đà Nẵng
				li Lưu ý: Số tiền thực tế có thể lệch đến 10.000đ/tháng
		section.find-tragop.clearfix
			.title Đề xuất của Techzones chưa phù hợp? Bạn hoàn toàn có thể chọn gói trả góp của riêng mình!
			.des Có thể tuỳ chọn kỳ hạn trả góp là 6, 9 hoặc 12 tháng, số tiền trả trước từ 0% - 80% tuỳ từng sản phẩm
			.find-wrap
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.form-group
							select
								option Chọn giấy tờ cung cấp
					.col-12.col-sm-6.col-md-4.col-lg-3
						.form-group
							select
								option Chọn số tiền trả trước
					.col-12.col-sm-6.col-md-4.col-lg-3
						.form-group
							select
								option Chọn thời gian trả góp
					.col-12.col-sm-6.col-md-4.col-lg-3
						a.btn-searchtragop(href="#!") Tìm gói trả góp
		section.tragop-faq.clearfix
			.small-title Các câu hỏi thường gặp
			.faq
				.faqtitle Số điện thoại tổng đài hỗ trợ hồ sơ online của FE Credit?
				.faqcontent 08 39 111 555 nhấn phím số 0
			.faq
				.faqtitle Hồ sơ đã được xét duyệt online thì khách hàng có cần phải kiểm tra giấy tờ tại cửa hàng?
				.faqcontent Khách hàng bắt buộc phải mang giấy tờ gốc ra cửa hàng để đối chiếu và kiểm tra, hệ thống sẽ đưa kết quả phê duyệt cuối cùng
			.faq
				.faqtitle Trường hợp khách hàng đã có khoản vay thì các thành viên còn lại trong gia đình (trên sổ hộ khẩu) có được đăng ký làm hồ sơ hay không?
				.faqcontent FEC sẽ thẩm định hồ sơ cá nhân của người vay để quyết định, quyết định xét duyệt không bị ảnh hưởng bởi các thành viên còn lại trong gia đình
			.faq
				.faqtitle Khách hàng có bắt buộc phải đăng ký khoản bảo hiểm cho khoản vay?
				.faqcontent Thông tin về khoản bảo hiểm sẽ được nhân viên trả góp online của FEC tư vấn khi làm hồ sơ, khách hàng sẽ ra quyết định về việc đăng ký bảo hiểm khi nhận cuộc gọi từ FEC
			.faq
				.faqtitle Các thông tin cần thiết để hồ sơ trả góp được duyệt nhanh chóng?
				.faqcontent Khách hàng vui lòng chuẩn bị đầy đủ các loại giấy tờ đã đăng ký với Tiki và đối tác tài chính. Khách hàng vui lòng cung cấp chính xác các thông tin được yêu cầu. Lịch sử vay trả góp tốt: thanh toán đủ và đúng kỳ hạn đối với các khoản vay cũ Số tiền trả góp mỗi tháng nên cân bằng với thu nhập và các khoản chi tiêu gia đình để đảm bảo cho lịch sử tín dụng của mình. Phí bảo hiểm: việc mua phí bảo hiểm là không bắt buộc, tuy nhiên khoản phí này sẽ bảo vệ Khách hàng khi xảy ra trường hợp không mong muốn.
			.faq
				.faqtitle Lợi ích khi mua trả góp tại Tiki.vn?
				.faqcontent Hàng hoá được niêm yết giá cụ thể trên website, Khách hàng không phải mất thời gian liên hệ cửa hàng để tìm hiểu thông tin. Hàng hoá tham gia chương trình Trả góp Tiêu dùng vẫn đảm bảo đầy đủ quyền lợi về bảo hành cũng như các khuyến mãi đi kèm với sản phẩm. Thường xuyên có các chương trình ưu đãi trong tháng giúp Khách hàng có cơ hội sở hữu sản phẩm tốt với giá cả hợp lý. Thủ tục và giấy tờ đơn giản, phê duyệt hồ sơ qua điện thoại, thuận lợi cho khách hàng.