section.brand-page.clearfix
	.container
		h1.page-title.d-none.d-xl-block Thương hiệu
		.brand-list
			.row
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
				article.col-6.col-sm-4.col-md-3
					.brand-logo
						a(href="#")
							img(src="https://cdn.techzones.vn/Data/Sites/1/media/logo-thuong-hieu/brands800x300/techzones-bose.jpg", alt="")
		//- section.product-sort
			.sort-type
				label(for="") <i class="material-icons">swap_vert</i>
				select
					option(value="#") Giá thấp - cao
					option(value="#") Giá cao - thấp
					option(value="#") Giảm giá nhiều nhất
			.btn-compare <i class="material-icons">compare_arrows</i> So sánh
		//- section.mobile-product
			.row
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.product-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam fuga non nemo harum autem sit officiis autem sit officiis!
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.product-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim est deserunt totam accusantium rerum, quod, et quidem dolorum ea autem omnis nesciunt deleniti nihil officiis sint earum tempora reiciendis cupiditate, eaque voluptatum. Exercitationem repellendus itaque minima modi vitae mollitia necessitatibus?
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
				article.col-6.col-sm-4.col-md-3
					.product-col
						figure
							a.product-img(href="sanphamds.html")
								img(src="img/product/1.jpg", alt="")
							figcaption
								h2.product-name
									a(href='#') Fossil Q Explorist
								.product-price
									.old 9.000.000 ₫
									.new 12.000.000 ₫
								.btnwrap
									a.btn-buy(href="#") <i class="material-icons">add</i>
