section.news-breadcrumb.clearfix
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Tìm kiếm
.container
	section.search-page.clearfix
		h1.page-title Kết quả tìm kiếm 
			strong.keyword "ốp lưng"
		.row
			.col-12.col-lg-9
				.result-product
					h2.small-title Sản phẩm
					.result-amount Có <strong>96</strong> kết quả
					include filter
					.product-list
						.row.no-gutters
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/3.jpg", alt="")
										figcaption
											h2.product-name Samsung Galaxy S8
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/4.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/5.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 128GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/6.jpg", alt="")
										figcaption
											h2.product-name HTC U Ultra Sapphire
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/7.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZ Premium Pink Gold
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/8.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s Plus 64GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/9.jpg", alt="")
										figcaption
											h2.product-name iPhone 6s 32GB
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
							article.col-6.col-sm-4.col-md-3.col-custom
								a.product-col(href="#!")
									figure
										.product-img
											img(src="img/product/10.jpg", alt="")
										figcaption
											h2.product-name Sony Xperia XZs
											.product-price
												.new 23.490.000 ₫
												.old 25.000.000 ₫
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm
			.col-12.col-lg-3
				.result-news
					h2.small-title Tin tức
					.result-amount Có <strong>100</strong> kết quả
					.post-list
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
					
					.btn-wrap
						a.btn-loadmore(href="#") Xem thêm
									