section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tài khoản
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Admin
				meta(itemprop='position', content='3')
.container
	.row.flex.flex-wrap
		.col-12.col-lg-3
			section.user-sidebar.clearfix
				.userinfo.clearfix
					figure
						a.user-img(href="#")
							img(src="img/user.png", alt="")
						figcaption
							.title Tài khoản của
							.user-name Admin
							.user-rank <i class="fa fa-trophy" aria-hidden="true"></i> Thành viên vàng
			nav.user-sidelink.clearfix
				ul 
					li.hvr-sweep-to-right
						a(href="userpanel1.html") Chính sách thành viên
					li.hvr-sweep-to-right
						a(href="userpanel.html") Thông tin chung
					li.hvr-sweep-to-right
						a(href="userpanel1.html") Thông tin tài khoản
					li.hvr-sweep-to-right
						a(href="userpanel2.html") Số địa chỉ
					//- li.hvr-sweep-to-right
					//- 	a(href="#") Thông báo của tôi
					li.hvr-sweep-to-right.active
						a(href="userpanel3.html") Đơn hàng của tôi
					li.hvr-sweep-to-right
						a(href="userpanel4.html") Danh sách yêu thích
					li.hvr-sweep-to-right
						a(href="userpanel5.html") Quản lý điểm thưởng
		.col-12.col-lg-9
			section.user-page.clearfix
				h1.postname Đơn hàng của tôi
				.row.flex.flex-wrap
					.col-12
						section.cart-history.clearfix
							.table-responsive
								table.table
									thead
										tr 
											th Mã đơn hàng
											th Ngày mua
											th Sản phẩm
											th Tổng tiền
											th Trạng thái đơn hàng
									tbody
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 400.200đ
											td 
												.alert-success Đơn hàng thành công
										tr 
											td 
												a(href="userpanel31.html") 12345678
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 628.000đ
											td 
												.alert-warning Đang xử lý
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 50.000đ
											td 
												.alert-success Đơn hàng thành công
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 750.000đ
											td 
												.alert-info Đang chuyển hàng
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 454.850đ
											td
												.alert-info Đang chuyển hàng
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 400.200đ
											td 
												.alert-success Đơn hàng thành công
										tr 
											td 
												a(href="userpanel31.html") 12345678
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 628.000đ
											td 
												.alert-warning Đang xử lý
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 50.000đ
											td 
												.alert-success Đơn hàng thành công
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 750.000đ
											td 
												.alert-info Đang chuyển hàng
										tr 
											td 
												a(href="userpanel31.html") 46692740
											td 07/12/2016
											td 
												a(href="#") American Tourister Handy Spinner 78cm TSA
												a.link-detail(href="#") Chi tiết
											td 454.850đ
											td
												.alert-info Đang chuyển hàng
							.pages.text-xs-center
								ul.pagination
									li.active
										a(href="#") 1
									li 
										a(href="#") 2
									li 
										a(href="#") 3
									li 
										a(href="#") 4