
.filter-wrap.category-group.clearfix
	section.filter-header.clearfix
		.container
			.btn-closefilter <i class="material-icons">arrow_back</i>
			.filter-title Danh mục ngành hàng
	section.filter-content.clearfix
		nav.filter-category
			ul
				li.active
					a(href="#") Thiết bị đeo tay
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li.active
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Home theater
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Thiết bị âm thanh
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Máy tính
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Gaming Gear
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Camera
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Phụ kiện
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
				li
					a(href="#") Hàng 2nd
					.btn-showsubfilter <i class="fa fa-angle-right" aria-hidden="true"></i>
					.subfilter
						ul
							li
								a(href="#") Smartwatch
							li
								a(href="#") Vòng đeo tay
	.filter-button
		.btn-resetall Đặt lại
		.btn-closefilter Hoàn tất

.filter-wrap.option-group.clearfix
	section.filter-header.clearfix
		.container
			.btn-closefilter <i class="material-icons">arrow_back</i>
			.filter-title Bộ lọc sản phẩm
	section.filter-content.clearfix
		.filter-group
			.filter-name Thương hiệu
				.filter-tags
					.filter-tag Apple
						.btn-removetag <i class="material-icons">close</i>
			.filter-option
				.filter-brand
					a.active(href="#") Apple
						span (8)
					a(href="#") Asus
						span (5)
					a(href="#") Fitbit
						span (10)
					a(href="#") Fossil
						span (1)
					a(href="#") Garmin
						span (1)
					a(href="#") Huawei
						span (1)
					a(href="#") Jawbone
						span (1)
					a(href="#") LG
						span (1)
					a(href="#") Michael Kors
						span (1)
					a(href="#") Misfit
						span (1)
					a(href="#") Moov
						span (1)
					a(href="#") Movado
						span (1)
					a(href="#") Samsung
						span (1)
					a(href="#") Tichwatch
						span (1)
					a(href="#") Withings
						span (1)
		.filter-group
			.filter-name Màu sắc
			.filter-option
				.filter-color
					a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=2', title='', data-original-title='Tím')
						.color-img(style='background-color:#990099')
					a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=3', title='', data-original-title='Xanh dương')
						.color-img(style='background-color:#0000CC')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=4', title='', data-original-title='Xám')
						.color-img(style='background-color:#8B8994')
					a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=5', title='', data-original-title='Đỏ')
						.color-img(style='background-color:#CC0033')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=7', title='', data-original-title='Gold')
						.color-img(style='background-color:#D3CEBB')
					a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=8', title='', data-original-title='Xanh bạc hà')
						.color-img(style='background-color:#A3E3D3')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=9', title='', data-original-title='Trắng')
						.color-img(style='background-color:#FFFFFF')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=10', title='', data-original-title='Xám đậm')
						.color-img(style='background-color:#5A5653')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=11', title='', data-original-title='Bạc')
						.color-img(style='background-color:#D2D0D1')
					a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=13', title='', data-original-title='Đen')
						.color-img(style='background-color:#000000')
		.filter-group
			.filter-name Thuộc tính
			.filter-option
				.filter-properties
					a.active(href="#") Chạy bộ
						span (3)
					a.active(href="#") Chạy bộ
						span (3)
					a(href="#") Đo sức khỏe
						span (10)
					a.active(href="#") Kháng nước IP68
						span (5)
					a(href="#") Đo nhịp tim
						span (5)
					a(href="#") Bơi lội
						span (5)
		.filter-group
			.filter-name Khoảng giá
			.filter-option
				.filter-price
					a(href="#") 0 đ - 10.000.000 đ
						span (140)
					a.active(href="#") 10.000.000 đ - 20.000.000 đ
						span (30)
					a(href="#") 20.000.000 đ - 30.000.000 đ
						span (20)
	.filter-tags.d-xs-none.d-lg-block
		.filter-tag Apple
			.btn-removetag <i class="material-icons">close</i>
		.filter-tag Màu bạc
			.btn-removetag <i class="material-icons">close</i>
		.filter-tag Từ 10 - 20 triệu
			.btn-removetag <i class="material-icons">close</i>
	.filter-button
		.btn-resetall Đặt lại
		.btn-closefilter Hoàn tất