section.mobile-footer.clearfix.d-xl-none
	.container
		.sitelogo
			a(href="#")
				img(src="img/logo.png", alt="")
		.site-feature
			.feature
				figure
					.feature-img
						<i class="material-icons">attach_money</i>
					figcaption Thanh toán khi nhận hàng
			.feature
				figure
					.feature-img
						<i class="material-icons">local_shipping</i>
					figcaption Giao hàng toàn quốc
			.feature
				figure
					.feature-img
						<i class="material-icons">cached</i>
					figcaption Miễn phí đổi trả
		.contact
			ul 
				li <i class="material-icons">place</i> Khuôn viên cà phê Tinh Tế - 209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM 
				li <i class="material-icons">phone</i>
					a(href="tel:(028) 6659.5511") (028) 6659.5511 
					|- 
					a(href="tel:(028) 6659.7722") (028) 6659.7722
				li <i class="material-icons">email</i>
					a(href="mailto:tannguyen@techzones.vn ") tannguyen@techzones.vn 
		.copyright © Copyright 2017 Techzones. All rights reserved
//- .login-notification.alert.alert-danger.alert-dismissible.fade.show(role="alert")
	h3 
		a.alert-link(href="dangnhap.html") Đăng nhập 
		|để nhận thêm nhiều ưu đãi
	.close(data-dismiss='alert', aria-label='Close')
		span(aria-hidden='true') &times;

footer
	#fly-compare.btn-compare(data-toggle="tooltip" data-placement="left" title="So sánh")
		i.material-icons compare_arrows
		//- |  So sánh

	section.footertop.clearfix
		.container
			.row.flex.flex-wrap
				.col-xs-12.col-lg-6.col-xl-5
					.row.flex.flex-wrap
						.col-xs-12.col-sm-6
							section.footercol.clearfix
								.sitelogo
									a(href="index.html")
										img(src="img/logo.png", alt="")
								.about 
									.company-name Công ty TNHH Thương mại và dịch vụ TECHZONES
									.addr 
										p Khuôn viên cà phê Tinh Tế - 209 Nam Kỳ Khởi Nghĩa , Phường 7, Quận 3, Tp.HCM
											br
											br
											|Tel: 
											a(href="tel:0934307799") 0934307799
											br
											br
											|Fax: (08) 3823 1729
											br
											br
											|Email: 
											a(href="mailto:techzones.vn@gmail.com") techzones.vn@gmail.com
											br
											br
											|Giấy phép số 0313707005 do Sở Kế Hoạch và Đầu Tư cấp ngày 21.03.2016
						.col-xs-12.col-sm-6
							section.footercol.clearfix
								.title Chi nhánh
								.contactinfo
									ul 
										li 
											strong Địa chỉ 1: 
											|209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM
											br
											|Tel: 
											a(href="tel:0934307799") 0934307799 
											|- Fax: (08) 3823 1729
										li 
											strong Địa chỉ 2: 
											|209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM
											br
											|Tel: 
											a(href="tel:0934307799") 0934307799 
											|- Fax: (08) 3823 1729
										li 
											strong Địa chỉ 3: 
											|209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM
											br
											|Tel: 
											a(href="tel:0934307799") 0934307799 
											|- Fax: (08) 3823 1729
										li 
											strong Địa chỉ 4: 
											|209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM
											br
											|Tel: 
											a(href="tel:0934307799") 0934307799 
											|- Fax: (08) 3823 1729
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
					section.footercol.clearfix
						.title Về Techzones
						nav.footerlink.clearfix
							ul
								li 
									a(href="#") Giới thiệu
								li 
									a(href="#") Điều khoản sử dụng
								li 
									a(href="#") Chính sách bảo mật
								li 
									a(href="#") tuyển dụng
								li 
									a(href="#") Liên hệ
								li 
									a(href="#") Video clips
								li 
									a(href="#") Sơ đồ site
				.col-xs-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
					section.footercol.clearfix
						.title Hỗ trợ khách hàng
						nav.footerlink.clearfix
							ul
								li 
									a(href="#") Phương thức đặt hàng
								li 
									a(href="#") Hướng dẫn đặt hàng
								li 
									a(href="#") Phương thức giao hàng
								li 
									a(href="#") Phương thức thanh toán
								li 
									a(href="#") Chính sách đổi trả hàng
								li 
									a(href="#") Hướng dẫn đổi trả hàng
								li 
									a(href="#") Trung tâm khách hàng
								li 
									a(href="#") Hỏi đáp
				.col-xs-12.col-sm-12.col-md-4.col-lg-6.col-xl-3
					//- section.footercol.clearfix
						.title Đăng ký nhận bản tin
						.subscribe
							.module-title Đăng ký để nhận được những thông tin sản phẩm mới và khuyến mãi của Techzones
							.subscribefrm.clearfix
								input(type="text", placeholder="Nhập địa chỉ email...")
								button.subscribebutton Gửi
					section.footercol.clearfix
						.fanpage
							img(src="img/fanpage.jpg", alt="")
					.hotline
						figure.clearfix
							<i class="material-icons">phone_in_talk</i>
							figcaption Hotline
								a(href="tel:0934307799") 0934307799
					.bct
						img(src="img/bct.png", alt="")
	.container
		section.footerbottom.clearfix
			.copyright Copyright 2017 Techzones. All rights reserved. Designed by 
				a(href="index.html") Canh Cam
				|.
			.colright.clearfix
				.payment Chấp nhận thanh toán
					img(src="img/payment.png", alt="")
				.social Theo dõi Techzones
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
	.up <i class="fa fa-chevron-up" aria-hidden="true"></i>