header.mobile-header.clearfix
	.container
		.btn-showmenu <i class="material-icons">menu</i>
		.overlay.hidden
		.overlay-popup.hidden
		.sitelogo
			a(href="index.html")
				img(src="img/logo2.png", alt="")
		.colright.clearfix
			.hotline
				a(href="tel:0934307799") <i class="material-icons">phone</i>
			.searchtoggle <i class="material-icons">search</i>
			.cart
				.cart-toggle
					i.material-icons shopping_cart
					.cart-amount
						a(href='#')
							| Giỏ hàng 
							span.amount 0
		include search

	

