nav.mobile-menu.clearfix
	.mobile-login
		figure
			.user-avt
				img(src="img/user.png", alt="")
			figcaption
				.btn-wrap
					a.btn-login(href="dangnhap.html") Đăng nhập
					a.btn-register(href="dangky.html") Đăng ký
	.menu-content
		.menu-wrap.clearfix
			ul.menulink
				li
					a(href="index.html") <i class="material-icons">home</i> Trang chủ
				li
					a(href="nganhhang2.html") <i class="material-icons">view_list</i> Danh sách ngành hàng
				li
					//- a(href="thuonghieu.html") <i class="material-icons">local_offer</i> Thương hiệu
				li
					a(href="tintuc.html") <i class="material-icons">rss_feed</i> Tin tức
				li
					a(href="taikhoan.html") <i class="material-icons">account_circle</i> Quản lý tài khoản
				li.notification.active
					a(href="thongbao.html") <i class="material-icons">notifications</i> Thông báo
						.notification-amount 20
				li
					a(href="hotro.html") <i class="material-icons">help</i> Trung tâm hỗ trợ
		.menu-contact
			h1.company CÔNG TY TNHH TM&DV TECHZONES
			ul 
				li <i class="material-icons">place</i> Khuôn viên cà phê Tinh Tế - 209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM 
				li <i class="material-icons">phone</i>
					a(href="tel:(028) 6659.5511") (028) 6659.5511 
					|- 
					a(href="tel:(028) 6659.7722") (028) 6659.7722
				li <i class="material-icons">email</i>
					a(href="mailto:tannguyen@techzones.vn ") tannguyen@techzones.vn 