section.mobile-search
	.search-header
		.container
			.search-header-wrap
				.btn-closesearch <i class="material-icons">arrow_back</i>
				.searchbox
					input(type="text", placeholder="Tìm kiếm")
					button.searchbutton <i class="material-icons">search</i>
	.moblie-searchresult.clearfix
		.search-category
			a.active(href="#") Sản phẩm
			a(href="#") Tin tức
		.container
			.product-list
				.row.no-gutters
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/1.jpg", alt="")
								figcaption
									h2.product-name iPhone 7 Plus Red
									.product-price
										.new 23.490.000 ₫
										//- .old 25.000.000 ₫
									.product-des
										p Khuyến mãi
										ul
											li Giảm thêm 800.000đ khi thanh toán trực tuyến bằng MasterCard
									.popup-info
										.name iPhone 7 Plus Red
										.des
											ul
												li Màn hình: 5.5", Retina HD
												li HĐH: iOS 10
												li CPU: Apple A10 Fusion 4 nhân
												li RAM: 3GB, ROM: 128GB
												li Camera: 2x 12 MP, Selfie: 7 MP
												li PIN: 2900 mAh, SIM: 1 SIM
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/2.jpg", alt="")
								figcaption
									h2.product-name Samsung Galaxy Note 8
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
									.product-des
										p Khuyến mãi
										ul
											li Cơ hội trúng Xe Honda SH 150i (áp dụng 1 số tỉnh phía Bắc)
											li Đặt hàng, nhận hàng giữa tháng 10
									.popup-info
										.name Samsung Galaxy Note 8
										.des
											ul
												li Màn hình: 6.3", Quad HD (2K)
												li HĐH: Android 7.1
												li CPU: Exynos 8895 8 nhân
												li RAM: 6GB, ROM: 64GB
												li Camera: 2 camera 12 MP, Selfie: 8 MP
												li PIN: 3300 mAh, SIM: 2 SIM
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/3.jpg", alt="")
								figcaption
									h2.product-name Samsung Galaxy S8
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/4.jpg", alt="")
								figcaption
									h2.product-name Sony Xperia XZ Premium
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/5.jpg", alt="")
								figcaption
									h2.product-name iPhone 6s 128GB
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/6.jpg", alt="")
								figcaption
									h2.product-name HTC U Ultra Sapphire
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/7.jpg", alt="")
								figcaption
									h2.product-name Sony Xperia XZ Premium Pink Gold
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫
					article.col-6.col-sm-4.col-md-3.col-lg-2.col-custom
						a.product-col(href="#!")
							figure
								.product-img
									img(src="img/product/8.jpg", alt="")
								figcaption
									h2.product-name iPhone 6s Plus 64GB
									.product-price
										.new 23.490.000 ₫
										.old 25.000.000 ₫